---
---

@import "main";

body {
  background: url("https://i.imgur.com/j2NlJJI.png") no-repeat center center / cover;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover; 
}
